pycryptodomex
pywavelets
pillow
numpy
face-recognition
diffusers
transformers
accelerate
opencv-python
customtkinter
SpeechRecognition
pyaudio
dlib
google-generativeai
google-genai
mediapipe
librosa
soundfile
gradio
fastapi
uvicorn[standard]
python-multipart
scipy
